/* Paleta de Cores:
   Fundo Principal: #F9FAFB
   Fundo dos Cards: #E5E7EB
   Ação/Destaque: #4A90E2
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87); /* Texto escuro padrão */
  background-color: #F9FAFB; /* Fundo principal off-white */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex; /* Para centralizar o conteúdo */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#root {
  max-width: 1200px; /* Largura máxima para a aplicação */
  width: 100%;
}